/*Pour les liens */
a{
    color: b#242424;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    text-decoration: underline;
}

/*Pour les Titres */
h1{
    font-family: 'Montserrat', sans-serif;
    color: #a5b4fc;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
}

/*Pour les paragraphes */
p{
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

/*Pour les listes */
ul{
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
}
/*Pour les DivExtra*/
.divExtra{
    background: linear-gradient(#8e86b5, #acaeed);
    border-radius: 50px;
    padding: 21px 38px;
    width: 306px;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.divExtraString{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.divExtra:hover{
    color:linear-gradient(#696484, #8788BA);
    opacity:0.25
}

.aPPUl{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
}
body{
    margin: 0px;
}
/*Header----------------------------------------------------------------------- */
header{
    background: white;
    width: -webkit-fill-available;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img[title="Robbie Lens Acceuil"]{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
}
/*Pour les DivHB*/
.divHB:hover{
    opacity:0.5
}
.divHB2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mainAPropos{
    margin: auto;
}
.h1Services{
    margin-top: 20px;
}
/*Acceuil section 01----------------------------------------------------- */
.acceuilPresentation{
    background-color: #1f2039;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    flex-wrap: wrap;
    gap: 40px;
    padding-left:40px ;
}

/*Pour le titre et le texte*/
.acceuilTitreTexte{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.acceuilTitre{
    width: 379px;
    height: 134px;
    display: flex;
    flex-wrap: wrap;
}
.acceuilTexte{
    width: 409px;
    height: 108px;
    display: flex;
    flex-wrap: wrap;
}

/*Pour l'image principal*/
img[title="Ma photo"]{
    width: 419px;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 108px;
    padding-bottom: 50px;
}

img[title="Ma photo"]:hover{
    /* filter: brightness(2); */
    filter: grayscale(100%);
    }

/*Acceuil section 02-----------------------------------------------------------*/
.acceuilMonDernierProjet{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    gap: 10px;
    margin:40px ;
}
.imagePaysage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #1F2039;
}
/*Portfolio------------------------------------------------------------------*/
.portfolio-section-photos {
    background-color: white;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }

.divPortfolioPaysage{
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.divPortfolioPortrait{
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.divPortfolioPaysage img,
.divPortfolioPortrait img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.imgHoverContener{
    position: relative;
}

.imgHover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.img2Hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    display: none;
}

.imgHoverContener:hover .imgHover{
    display: flex;
}

.imgHoverContener:hover .img2Hover{
    display: flex;
}

/*Tableau------------------------------------------------------------------*/
caption{
    font-family: 'Montserrat';
    font-size: 35px;
    color: white;
    margin: 50px;
    margin-top: 50px;
}
th{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    color: white;
    border: 1px solid #A5B4FC
}
td{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
    color: white;
    border: 1px solid #A5B4FC
}
table{
    border-collapse: collapse;
    margin-bottom: 100px;
}